<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.avr.moviemodule">

    <dist:module
        dist:instant="false"
        dist:title="@string/movie">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name=".MovieActivity"
            android:exported="false"
            android:label="@string/title_activity_movie"
            android:theme="@style/Theme.MyFamilyApp" />
    </application>

</manifest>